{% extends "alertas/base.html" %}
{% load l10n %}
{% load crispy_forms_tags %}
{% block page-title %} - Operacional - Verificação de Relato {% endblock %}
{% block content %}
<h1>Relato do Cidadão</h1>
<script type="text/javascript">
    function initMap() {
      // Create the map.
      var map = new google.maps.Map(document.getElementById('mapCanvas'), {
        zoom: 15,
        center: {lat: {{ relato.latitude|unlocalize }}, lng: {{ relato.longitude|unlocalize }}},
        mapTypeId: google.maps.MapTypeId.TERRAIN
      });

        var alert_id_{{ alert.id }} = new google.maps.Circle ({
            strokeColor: '{{ relato.alert_type.stroke_color }}',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '{{ relato.alert_type.fill_color }}',
            fillOpacity: 0.35,
            map: map,
            center: {lat: {{ relato.latitude|unlocalize }}, lng: {{ relato.longitude|unlocalize }} },
            radius: {{ relato.radius|unlocalize }}
        });
    }

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEVq_qBLGvqksBCYFZPf4xN60oVg0wZtU&callback=initMap">
</script>
<style>
  #mapCanvas {
    height: 380px;
  }
</style>
<div class="row">
    <div class="col-sm-12" id="mapCanvas"></div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>Relato código {{ relato.id }} - {{ relato.title }}</h1>
        <div class="col-sm-4"><p><strong>Latitude: </strong>{{ relato.latitude }}</p></div>
        <div class="col-sm-4"><p><strong>Longitude: </strong>{{ relato.longitude }}</p></div>
        <div class="col-sm-4"><p><strong>Raio: </strong>{{ relato.radius }}</p></div>

    </div>
    <div class="col-sm-12">
        <div class="col-sm-4"><p><strong>Data de Criação: </strong>{{ relato.creation_date }}</p></div>
        <div class="col-sm-4"><p><strong>Tipo de Ocorrência: </strong>{{ relato.alert_type }}</p></div>
        <div class="col-sm-4"><p><strong>Órgão Sugerido: </strong>{{ relato.alert_organ }}</p></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-4"><p><strong>Nome do Visitante: </strong>{{ relato.visitor_name }}</p></div>
        <div class="col-sm-4"><p><strong>Telefone: </strong>{{ relato.visitor_phone }}</p></div>
        <div class="col-sm-4"><p><strong>E-mail: </strong>{{ relato.visitor_email }}</p></div>
    </div>

    <p><b>Mensagem:</b> {{ relato.message }}</p>
    <p></p><a href="{% url 'criar_alerta_relato' relato.id %}" class="btn btn-success" role="button">Criar Alerta com Base Neste Relato</a> <a href="{% url 'rejeitar_relato' relato.id %}" class="btn btn-danger" role="button">Rejeitar</a></p>
</div>

{% endblock content %}